<mat-card class="item-card">
  <mat-card-header>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
    <mat-card-subtitle>{{item.price | currency:'EUR' : 'symbol' : '1.0' }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-md-image src="assets/images/{{item.image}}">
  <mat-card-content>
    <p>{{item.email}}</p>
    <button mat-raised-button (click)="addToFavorites(item.title, item.image)">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
