<mat-card class="item-card">
  <img class="item-img" mat-card-md-image src="assets/images/{{item.image}}">
  <div class="item-content">
    <mat-card-title>{{item.price | currency:'EUR' : 'symbol' : '1.0' }}</mat-card-title>
    <span class="item-title">{{item.title}}</span>
    <span class="item-desc">{{item.description}}</span>
    <span>{{item.email}}</span>
    <button class="item-fav" mat-raised-button (click)="addToFavorites(item.title, item.image)">
      <mat-icon class="item-fav-btn">{{isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button>
  </div>
</mat-card>
