<div>
  <app-search-form [items] = "items" (onSearchClick)="filterItems($event)"></app-search-form>
  <app-orderby-form [filteredItems]="filteredItems" [items]="items" (onSelected)="orderList($event)"></app-orderby-form>

  <div>
    <button mat-button (click)="openDialog()">My favorite list</button>
  </div>


  <div *ngIf=!selected class="item-container">
    <virtual-scroller #scroll [items]="filteredItems">
    <app-item-detail *ngFor='let item of scroll.viewPortItems' [item]="item" (onAddToFavorites)="addToFavorites($event)"></app-item-detail>
    </virtual-scroller>
  </div>
</div>
