<form novalidate [formGroup]="searchForm">
  <mat-accordion>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Filter</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="search-info">
        <div class="search-fields">
          <mat-form-field class="search-field" >
            <input matInput placeholder="Title" type="text" formControlName="title">
          </mat-form-field>
          <mat-form-field class="search-field" >
            <input matInput placeholder="Description" type="text" formControlName="description">
          </mat-form-field>
          <mat-form-field class="search-field" >
            <input matInput placeholder="Min price" type="number" formControlName="minPrice">
          </mat-form-field>
          <mat-form-field class="search-field" >
            <input matInput placeholder="Max price" type="number" formControlName="maxPrice">
          </mat-form-field>
          <mat-form-field class="search-field" >
            <input matInput placeholder="Email" type="text" formControlName="email">
          </mat-form-field>
        </div>
        <button mat-raised-button class="search-btn" color="primary" (click)="onSearch($event)">Search</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
