/* custom Material theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}

html, body {
  background-color: #F4F5F6;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
}

